body {
  height: calc(100vh - 30px);
  background: linear-gradient(90deg, rgb(51, 1, 63), rgb(4, 73, 78));
}

#particles-js {
  position: fixed;
  top: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
}

/* form */

.search-form {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  top: 5px;
  z-index: 99;
}

.search-form input {
  width: 280px;
  padding: 5px;
  border: none;
  border: 1px solid grey;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-right: none;
  box-shadow: 0 5px 12px rgba(255, 255, 255, 0.6);
}

.search-form input:focus {
  outline: none;
}

.search-form button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  padding: 7px;
  border: 1px solid grey;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-left: none;
  background: #f1f1f1;
  cursor: pointer;
  box-shadow: 0 5px 12px rgba(255, 255, 255, 0.6);
}

.search-form button:hover {
  background-color: #c3c3c3;
  transform: scale(1.05);
}

/* gallery */

.gallery {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 10px;
}

/* card */

.photo-card {
  position: relative;
  width: 240px;
  height: 160px;
  margin: 5px;
  transform-style: preserve-3d;
  perspective: 800px;
  cursor: context-menu;
}

.gallery-img,
.info {
  position: absolute;
  width: 240px;
  height: 160px;
  border-radius: 5px;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  transition: transform 0.8s ease-in-out;
}

.gallery-img {
  border: 1px solid #000000;
}

.info {
  border: 1px solid #ffffff;
  background: linear-gradient(45deg, rgb(245, 218, 129), rgb(47, 245, 195));
  transform: rotateY(180deg);
}

.photo-card.hovered .gallery-img {
  transform: rotateY(-180deg);
}

.photo-card.hovered .info {
  transform: rotateY(0deg);
}

.photo-card.hovered {
  z-index: 9;
}

.info-item {
  margin-left: 15px;
}

/* button */

.to-beginning {
  padding-top: 0;
  padding-left: 1px;
  bottom: calc(50% + 60px);
}

.to-end {
  padding-left: 1px;
  bottom: calc(50% - 60px);
}

.to-up {
  bottom: calc(50% + 20px);
}

.to-down {
  padding-top: 7px;
  bottom: calc(50% - 20px);
}

.to-beginning,
.to-end,
.to-down,
.to-up {
  z-index: 99;
  position: fixed;
  right: 5px;
  width: 40px;
  height: 40px;
  opacity: 0;
  background: #f1f1f1;
  border-radius: 50%;
  cursor: pointer;
}

.to-beginning:hover,
.to-end:hover,
.to-down:hover,
.to-up:hover {
  background-color: #c3c3c3;
  transform: scale(1.05);
}
